body {
  background-color: #111111;
}

.wrapper {
  height: 250%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.nav {
  margin: 0 0 0 90%;
  padding-top: 3%;
  height: 100%;
  width: 10%;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 250%;
  padding: 5% ;
}

.name {
  color: #06F0FF;
  font-size: 4rem;
  margin: 0;
}

.title {
  margin-left: 35%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

a { 
text-orientation: mixed;
writing-mode: vertical-lr;
margin-bottom:30% ;
text-decoration: none;
color: white;
}

.homea {
  margin-bottom: 20%;
}

.home {
  transform: scale(0.5);
}

.link{
  padding-left: 20%;
}

h1 {
  font-size: 8rem;
  color: white;
  margin: 0;
}




.about {
  margin-top: 20%;
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  margin-left: 30%;
}

.right{
  width: 20%;
  height: 50%;
  padding: 0;
}

.left{
  width: 20%;
  height: 50%;
  margin-right: 10%;
}


.ich {
  width: 120%;
  height: 200%;
}

.hey{
  color: #06F0FF;
}

.sami{
  color: white;
}

.lebenslauf{
  margin-top: 35%;
  margin-left: 20%;
}

.sprachen{
  margin-left: 20%;
  margin-top: 100%;
  padding-top: 10%;
  width: 40%;
}

.titleL{
  font-size: 3rem;
}
